$ColorFondo: #f1f1f1f1; //080707;
$ColorMenu: #000000;
$SeparadorSearch: #f1aba9;
$ColorLogo: #ff0e8d;
.container-fluid {
  background-color: $ColorFondo;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  header img {
    width: 290px;
    height: 130px;
  }

  main {
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    .control {
      display: flex;
      align-items: center;

      .siguiente {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        .fa-caret-right {
          margin-left: 10px;
        }
      }
      .anterior {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        .fa-caret-left {
          margin-right: 10px;
        }
      }
      button[type="button"] {
        background-color: $ColorLogo;
        box-shadow: none;
        border: none;
        font-size: 1.4rem;
        min-width: 70%;
      }
      i {
        font-size: 2rem;
        color: $ColorMenu;
      }
    }
    .card-img-top.prt {
      width: 60%;
      height: auto;
    }
    .card {
      background-color: transparent;
      margin: 5px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card-title {
      text-align: center;
      font-size: 1.9rem;
      font-weight: 500;
      color: $ColorMenu;
      font-weight: bold;
    }
    .card-img-top {
      height: 293px;
      width: 332px;
      border-radius: 10px;
    }
  }
  .us-page {
    color: $ColorMenu;
    text-align: justify;
    span {
      font-weight: bold;
      font-size: 1.1rem;
    }
    .subtitle {
      color: $ColorLogo;
    }
  }
  .container {
    h3.display-6 {
      color: #ff0e8d;
    }
  }

  footer {
    color: $ColorMenu;
    .redesSociales {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;
      margin-right: 4rem;
      li i {
        color: $ColorMenu;
        font-size: 1.5rem;
        background: $ColorLogo;
        margin-left: 1.3rem;
        padding: 0.4rem;
        border-radius: 50%;
      }
    }
    .dot ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      li {
        margin-left: 1rem;
      }
      i {
        font-size: 1.2rem;
      }
      .activo {
        border-radius: 50%;
        border: 2px solid $ColorLogo;
        padding: 6px;
        color: $ColorLogo;
      }
    }
    #line {
      border-left: 4px solid $ColorMenu;
      border-top: 4px solid $ColorMenu;
    }
  }
}
.modal-content {
  color: $ColorMenu;
  border: 1px solid $SeparadorSearch;
  .modal-header,
  .modal-footer {
    background-color: $ColorLogo;
  }
  .modal-body {
    background-color: $ColorFondo;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        border-radius: 15px;
        height: 100%;
        width: 100%;
      }
    .btn-primary {
      background-color: $ColorFondo;
      border: 1px solid $SeparadorSearch;
    }
  }
}

// media queries
@media (max-width: 576px) {
  .container-fluid main .card-img-top.prt {
    height: 293px;
    width: 332px;
  }
  .container-fluid header img {
    width: 180px;
    height: auto;
  }
}
@media (max-width: 992px) {
  .card-group.tst {
    display: flex;
    flex-direction: column;
  }
}
// @media (min-width: 1012px) {
//   header {
//      nav .test {
//     //   background-color: red;
//     //  height: 300px;
//     }
//     nav .test1 {
//      // background-color: blue;
//     }
//   }
// }
